

    <nav class="navbar taj-navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-text pull-left ">
                <a class="navbar-link" >
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header col-xs-11 col-sm-5">
                <a class="navbar-brand">
                    Profile
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a class="navbar-link"
                   ng-click="model.updateUser(model.user)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row taj-bottom-margin taj-top-margin">

            <div class="col-md-3 col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-padding-left">User Details</h3>
                    </div>
                    <div class="row taj-name-margin taj-top-margin">
                        <div class = "col-xs-5">Username</div>
                        <div class="col-xs-7">smit</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Name</div>
                        <div class="col-xs-7">William Smithson</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Type</div>
                        <div class="col-xs-7">Patient</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">City</div>
                        <div class="col-xs-7">Boston</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Age</div>
                        <div class="col-xs-7">25</div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 visible-md visible-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Next Appointment
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class = "row">
                            <div class = "col-xs-5">Dr Bane</div>
                            <div class="col-xs-4">Friday 21:00</div>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-default reschedule-btn">
                                    Reschedule
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default taj-top-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Appointment Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            Severely factured left ankle
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xs-3">
                <img class="img-responsive" alt="Responsive image "src="uploads/heart-pulse.jpeg"/>
            </div>
        </div>

        <div class="taj-bottom-margin taj-top-margin">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
            </div><!-- /input-group -->
        </div>

        <div class="list-group taj-bottom-margin taj-top-margin">
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Future Appointments
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        Date
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        Time
                    </div>
                    <div class="col-xs-2">
                        <!--<a ng-click="model.createNewWebsite()"-->
                           <!--class="navbar-link pull-right">-->
                            <!--<span class="glyphicon glyphicon-plus white"></span>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group taj-bottom-margin taj-top-margin">
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Previous Appointments
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        Date
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        Time
                    </div>
                    <div class="col-xs-2">
                        <!--<a ng-click="model.createNewWebsite()"-->
                        <!--class="navbar-link pull-right">-->
                        <!--<span class="glyphicon glyphicon-plus white"></span>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                        Dr. Gogo
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        23/01
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        10:00 PM
                    </div>
                    <div class="col-xs-2">
                        <a  class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row taj-bottom-margin taj-top-margin">

            <div class="col-xs-6">
                <a class="btn btn-default btn-info btn-block"
                   role="button"
                   ng-click="model.updateUser(model.user)">
                    Report
                </a>
            </div>

            <div class="col-xs-6">
                <a class="btn btn-default btn-info btn-block"
                   role="button"
                   ng-click="model.updateUser(model.user)">
                    Book Appointment
                </a>
            </div>

        </div>

        <div class="taj-bottom-margin taj-top-margin">
            <a class="btn btn-default btn-info btn-block"
               ng-click="model.deleteUser(model.user)"
               role="button">Insurance
            </a>
        </div>
    </div>

    <nav class="navbar taj-navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link"
                   ng-click="model.update(model.user)">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>







