

<!--<nav class="navbar taj-navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left ">
            <a class="navbar-link" >
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-11 col-sm-5">
            <a class="navbar-brand">
                Insurance Details
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.updateUser(model.user)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>-->



<section class="navs">
    <nav class="navbar navbar-fixed-top taj-navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"
                 id="logo">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="glyphicon glyphicon-align-justify"
                              id="menucollapse">
                        </span>

                </button>
                <a class="navbar-brand"
                   href="index.html">
                    <span><i class="fa fa-stethoscope"></i></span>
                    HealthCare
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#!/#insurance">Services</a></li>
                    <li><a href="#!/doctor">Doctors</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="#!/login">Sign In</a></li>
                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- container-fluid -->
    </nav>
</section>


<div class="container-fluid">
    <img class="fit-left-right-top" src="uploads/doctor-list-1.jpg"/>

    <div class="taj-bottom-margin taj-top-margin">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Search Here ...">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
        </div><!-- /input-group -->
    </div>

    <div class="services"
         id="services">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="assets/img/service1.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Search Top Qualified Doctors</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recu nisi nostrum sunt cum, consequuntur.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="assets/img/service1.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Search Life Saving Insurance</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recu nisi nostrum sunt cum, consequuntur.</p>
                        <a href="#" class="rm-btn btn btn-primary">
                            Read More <i class="icon-on-btn fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="assets/img/service1.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Book An Appointment</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recu nisi nostrum sunt cum, consequuntur.</p>
                        <a href="#" class="rm-btn btn btn-primary">
                            Read More <i class="icon-on-btn fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>


<nav class="navbar taj-navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link"
               ng-click="model.update(model.user)">
                <span class="glyphicon glyphicon-phone-alt taj-navbar-default"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.update(model.user)">
                <span class="glyphicon glyphicon-user taj-navbar-default"></span>
            </a>
        </div>
    </div>
</nav>