

<!--<nav class="navbar taj-navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left ">
            <a class="navbar-link" >
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-11 col-sm-5">
            <a class="navbar-brand">
                Insurance Details
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.updateUser(model.user)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>-->

<div ng-include="'views/common/header-common.view.client.html'"></div>

<!--<section class="navs">-->
    <!--<nav class="navbar navbar-fixed-top taj-navbar-default" role="navigation">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header"-->
                 <!--id="logo">-->
                <!--<button type="button"-->
                        <!--class="navbar-toggle collapsed"-->
                        <!--data-toggle="collapse"-->
                        <!--data-target="#bs-example-navbar-collapse-1">-->
                        <!--<span class="glyphicon glyphicon-align-justify"-->
                              <!--id="menucollapse">-->
                        <!--</span>-->

                <!--</button>-->
                <!--<a class="navbar-brand"-->
                   <!--href="index.html">-->
                    <!--<span><i class="fa fa-stethoscope"></i></span>-->
                    <!--HealthCare-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#">Home</a></li>-->
                    <!--<li><a href="#!/#services">Services</a></li>-->
                    <!--<li><a href="#!/doctor">Doctors</a></li>-->
                    <!--<li><a href="#!/#blog">Blog</a></li>-->
                    <!--<li><a href="#about-us">About Us</a></li>-->
                    <!--<li><a href="#!/login">Sign In</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; navbar-collapse &ndash;&gt;-->
        <!--</div>&lt;!&ndash; container-fluid &ndash;&gt;-->
    <!--</nav>-->
<!--</section>-->


<div class="container-fluid">
    <img class="fit-left-right-top" src="uploads/slider1.jpg"/>

    <div class="taj-bottom-margin taj-top-margin">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Search Here ...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div>

    <div class="services"
         id="services">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/service1.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Search Top Qualified Doctors</h4>
                        <p>Find your doctor. Manage your health.<br/>
                            Verified doctors to choose from. Your health records when you need them.</p>
                        <a href="#!/doctor" class="rm-btn btn btn-primary">
                            <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
                            <i class="icon-on-btn fa fa-long-arrow-right fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/service2.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Search Life Saving Insurance</h4>
                        <p>Choosing a health insurance plan can be complicated.<br/>
                            Knowing just a few things before you compare plans can make it simpler.
                        </p>
                        <a href="#!/agent" class="rm-btn btn btn-primary">
                            <i class="fa fa-medkit fa-3x" aria-hidden="true"></i>
                            <i class="icon-on-btn fa fa-long-arrow-right fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/service3.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Book An Appointment</h4>
                        <p>Let us help you find the physician that’s right for you and your family
                            The physicians found in this list specialize in family medicine, internal medicine and pediatrics.</p>
                        <a href="#!/appointment" class="rm-btn btn btn-primary">
                            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                            <i class="icon-on-btn fa fa-long-arrow-right fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="blog"
         id="blog">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/service5.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Regular Health Checkup</h4>
                        <p>It’s time to take charge of your health!<br/>
                            Schedule an appointment with your health care provider to discuss what screenings and exams you need and when you need them.
                            <br/>Regular health exams and tests can help find problems before they start.
                        </p>
                        <a href="https://www.cdc.gov/family/checkup/index.htm"
                           class="rm-btn btn btn-primary">
                            Read More
                            <i class="icon-on-btn fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/blog4.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Nutritious Food</h4>
                        <p>Good nutrition is one of the keys to a healthy life. You can improve your health by keeping a balanced diet.
                            You should eat foods that contain vitamins and minerals. This includes fruits, vegetables, whole grains, dairy,
                            and a source of protein.It can be hard to change your eating habits. It helps if you focus on small changes.
                            </p>
                        <a href="https://familydoctor.org/nutrition-tips-for-improving-your-health/" class="rm-btn btn btn-primary">
                            Read More <i class="icon-on-btn fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="uploads/blog5.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Regular Excercise</h4>
                        <p>Regular physical activity helps improve your overall health and fitness, and reduces your risk for many chronic diseases.
                            Physical activity is anything that gets your body moving.Not doing any physical activity can be bad for you, no matter your age or health condition.
                            Keep in mind, some physical activity is better than none at all.
                        </p>
                        <a href="https://www.cdc.gov/physicalactivity/basics/index.htm" class="rm-btn btn btn-primary">
                            Read More <i class="icon-on-btn fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="container-fluid"
         id="about-us">
        <div class="row">
            <div class="for_patients col-md-12 col-lg-4">
                <div class="top-left-padding">
                    <h3>For Patients</h3>
                    <h4 class="for_patients_body">
                        Connect to your doctor and improve your health.
                    </h4>
                    <div class="for_patients_login">
                        <a class="btn btn-default btn-info"
                           href="#!/login">
                            Log in
                        </a>
                        <!--<button class="pf-button learn_more_btn" type="submit" value="Search"
                                onclick="window.open('https://my.patientfusion.com', '_blank')">Log in</button>-->
                    </div>
                </div>
            </div>

            <div class="for_doctors hide_phone col-md-12 col-lg-4">
                <div class="top-left-padding">
                    <h3>For Doctors</h3>
                    <h4>Grow your practice with online scheduling.</h4>
                    <!--<button class="pf-button learn_more_btn" type="submit" value="Search" onclick="window.open('https://www.practicefusion.com', '_blank')">Learn more</button>-->
                    <a class="btn btn-default btn-info"
                       href="#!/login">
                        Log in
                    </a>
                </div>
            </div>

            <div class="for_agents hide_phone col-md-12 col-lg-4">
                <div class="top-left-padding">
                    <h3>For Agents</h3>
                    <h4>Create an insurance and sell them online.</h4>
                    <!--<button class="pf-button learn_more_btn" type="submit" value="Search" onclick="window.open('https://www.practicefusion.com', '_blank')">Learn more</button>-->
                    <a class="btn btn-default btn-info"
                       href="#!/login">
                        Log in
                    </a>
                    <a href="#!/">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div ng-include="'views/common/footer-common.view.client.html'"></div>