

<!--<nav class="navbar taj-navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->

        <!--<div class="navbar-text pull-left ">-->
            <!--<a class="navbar-link" >-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="navbar-header col-xs-11 col-sm-5">-->
            <!--<a class="navbar-brand">-->
                <!--Insurance Details-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="navbar-text pull-right">-->
            <!--<a class="navbar-link"-->
               <!--ng-click="model.updateUser(model.user)">-->
                <!--<span class="glyphicon glyphicon-ok"></span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->



<!--<section class="navs">-->
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand logo" href="index.html">-->
                    <!--<span><i class="fa fa-stethoscope"></i></span>-->
                    <!--HealthCare-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="index.html">Home 1</a></li>-->
                            <!--<li><a href="index_2.html">Home 2</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="services.html">Services</a></li>-->
                    <!--<li><a href="doctors.html">Doctors</a></li>-->
                    <!--<li><a href="blog.html">Blog</a></li>-->
                    <!--<li><a href="faq.html">FAQs</a></li>-->
                    <!--<li><a href="gallery.html">Gallery</a></li>-->
                    <!--<li><a href="contact.html">Contact Us</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; navbar-collapse &ndash;&gt;-->
        <!--</div>&lt;!&ndash; container-fluid &ndash;&gt;-->
    <!--</nav>-->
<!--</section>-->


<div class="container-fluid">
    <img class="fit-left-right-top" src="uploads/doctor-list-1.jpg"/>

    <div class="taj-bottom-margin taj-top-margin">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Search Insurance Plans here">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
        </div><!-- /input-group -->
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container-fluid row">
                <h3 class="panel-title">List Of Insurance Plans</h3>
            </div>
        </div>
        <div class="panel-body ">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">

                            <h4 class="media-heading">Amerihealth Regional Pref Ntwk HMO HMO POS</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Company Provider  :</b></div>
                                        <div class="col-md-9 col-lg-10">Aethna</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Category :</b></div>
                                        <div class="col-md-9 col-lg-10">Medical</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-xs-5">Select
                                            <b><span class="glyphicon glyphicon-ok-circle glyphicon-circle-ok"></span></b>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="color-white"></li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">

                            <h4 class="media-heading">Amerihealth Regional Pref Ntwk HMO HMO POS</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Company Provider  :</b></div>
                                        <div class="col-md-9 col-lg-10">Aethna</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Category :</b></div>
                                        <div class="col-md-9 col-lg-10">Medical</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-xs-5">Select
                                            <b><span class="glyphicon glyphicon-ok-circle glyphicon-circle-ok"></span></b>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>


<nav class="navbar taj-navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.update(model.user)">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>